<h1>Editing borrow book</h1>

<%= render "form", borrow_book: @borrow_book %>

<br>

<div>
  <%= link_to "Show this borrow book", @borrow_book %> |
  <%= link_to "Back to borrow books", borrow_books_path %>
</div>
